body{
  margin: 0;
  padding: 0;
}


:root{
  --primarycolor : #F9A021;
  --secondarycolor : #222831;
  --titarycolor : #393E46;
}

.navbar li{
  margin-left: 40px;
  font-weight: 100;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}
.nav-link{
  color: #fff !important;
  
}
.nav-link:hover{
  color: var(--primarycolor) !important; 
}
.nav-item:hover{
  color: var(--titarycolor) !important;
}
.navbar{
  background-color: var(--titarycolor) !important;
  height: auto;
  filter: drop-shadow(1px 1px 10px #000);
}

.container{
  padding: 5px;
}

.container img{
  width: 60px;
}
.container span{
  color: #fff;
  font-size: 30px;
  font-family: sans-serif;
}
.pd{
  margin-left: 20px;
  font-weight:700;
}
.nav button{
  background-color: #fff;
  margin-right: -20px;
  outline: 0;
  border: 0;
  width: 160px;
  border-radius: 10px;
  height: 40px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.nav button:hover{
  color: #fff;
  background-color: #F9A021;
}

.hero-section {
  position: relative;
  height: 630px; /* Adjust the height as needed */
  background-image: url('../img/hero.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

}

.hero-section .opacity {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.hero-content {
  margin-top: 11rem;
  z-index: 1;
  margin-left: 6rem;
}

.hero-content h1 {
  text-shadow: 2px 3px var(--titarycolor);
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 20px;
  
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  text-shadow: 2px 3px var(--titarycolor);

}
.hero-content img{
  width: 22rem;
  margin-right: 6rem;
  float: right;
  filter: drop-shadow(10px 10px 100px #fff);
}

.cta-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--primarycolor); /* Green color, you can change it */
  color: black;
  text-decoration: none;
  font-weight: 700;
  border-color: aqua;
}
.cta-button:hover {
  color: #fff;
  background-color: var(--secondarycolor);
  border-width: 10px;
}
.hero-content .rightlogo{
  display: flex;
}


.parent{
  display: flex;
  margin-bottom: 100px;
}
/* .parent img{
  width: 20%;
} */

.child{
  width: 100%;
}
.konten{
  margin: 2rem 0 0 5rem;
  font-family: sans-serif;
}
.konten h1{
  font-weight: 800;
  font-size: 85px;
  color: black;
}
.konten2{
  margin: 5rem 0 0 5rem;
}
.konten2 img{
  width: 12rem;
  display: flex;
  margin-top: 20px;
}
.container_isi{
  margin-top: 70px;
}
.isi{
  display: inline-flex;
}
.isi p{
  margin-right: 40px;
  margin-top: 30px;
  margin-left: 3rem;
  font-weight: bold;
}
.description{
  margin-left: 10rem;
  margin-top: 5rem;
  margin-right: 7rem;
}
.description p{
  font-weight: 400;
  font-size: 20px;
}
.label h1{
  margin-top: -10rem ;
  text-align: right;
  margin-right: 7rem;
  font-size: 90px;
  font-weight: 700;
}
#kiw{
  margin-top: 15rem;
  margin-left: 18rem;
  width: 20rem;
}
#pullup{
  margin-top: -50rem;
  margin-left: 7rem;
  width: 20rem;
  filter: drop-shadow( 5px 5px 5px #fff);
}
.pict img{
  /* filter: drop-shadow(10px 10px 50px #000); */
}
.centerlogo{
  justify-content: center;
  text-align: center;
}
.daftar-harga{
  background-color: var(--titarycolor);
}
.langganan{
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height if needed */
  text-align: center;
}
.card{
  width: 20rem;
  height: 25rem !important;
  justify-content: space-between;
  margin: 20px 0 0 20px;
  filter: drop-shadow( 2px 2px 8px #000);
  margin-top: -90px;
}
.card-body{
  margin-top: 2rem;
}
.card-title{
font-weight: 700;
font-size: 20px;
}
.card-price{
  margin-top: 4rem;
  font-size: 40px;
  font-weight: 700;
  color: var(--primarycolor);
}
.card-text{
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.btn{
  background-color: var(--primarycolor) !important;
  border: 2 !important;
  color: black !important;
  font-weight: 600 !important;
  font-size: 17px !important;
  border-radius: 0 !important;
  border-color: #929292 !important;
}
.btn:hover{
  background-color: var(--secondarycolor) !important;
  color: #fff !important;
}
.listing h1{
  padding: 60px;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
}
.listing button{
  width: 20rem;
  height: 6rem;
  float: right;
  margin-top: 5rem;
}
.layanan .card{
  width: 1rem !important;
  height: 20rem;
  margin-top: 10rem;

}
#card-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
}

.cards {
  flex: 0 0 auto;
  width: 300px; /* Adjust the width as needed */
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cards img {
  width: 100%;
  height: 150px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure images cover the specified height without stretching */
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
}
.pelayanan{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Adjust the height if needed */
  text-align: center;
}
.layanan h1{
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5rem;
}
#card-container-wrapper {
  overflow-x: auto;
}

#image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  padding: 40px;

}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 15rem;
  height: 15rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.grid-item:hover img {
  transform: scale(1.1);
}
.trainner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem; /* Adjust the height if needed */
  text-align: center;
}
.trainner h1{
  font-weight: 700;
  margin-bottom: 6rem;
}

#map-container {
  margin-top: 1rem;
  margin-bottom: 9rem;
  width: 100%;
  height: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.footersection{
  background-color: var(--titarycolor) !important;
  margin-top: 5rem;
}
.col{
  color: white !important;
}
.col ul li a{
  color: white !important;
}
.modal2 {
  padding: 10px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

/* Styling for the modal content */
.modal-content2 {
  background-color: #fff;
  width: 65%;
  margin: 9% auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.modal-gue {
  padding: 10px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

/* Styling for the modal content */
.modal-content-gue {
  background-color: #fff;
  width: 65%;
  margin: 9% auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.price{
  color: var(--primarycolor);
  margin-left: 10px;
}
.fasility{
  margin-left: 25px;
}

.ortu{
  display: flex;
  margin-top: 3rem;
  margin-left: 6rem;
}
.bayi{
 
  margin-left: 10rem;
  display: grid;
}
.metode{
  display: flex;
}
.bayi img{
  width: 5rem;
  height: 4rem;
}
.image{
  display: flex;
}
.iso p{
  margin-top: 15px;
  font-weight: 600;
  font-size: 18px;
  margin-left: 1rem;
}
.butonlanggan{
  width: 100%;
  height: 60px;
  font-size: large;
  font-weight: 700;
  margin-top: 5rem;
  background-color: var(--primarycolor);
  border: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.butonlanggan:hover{
  color: #fff;
  background-color: var(--titarycolor);
}
.bukpem{
  margin-left: 0rem;
  margin-top: 2rem;
  margin-right: 6rem;
}
.datadiri{
  margin-left: 6rem;
  margin-top: 2rem;
}
.datadiri label{
  margin-right: 2rem;
}
.bukpem img{
  width: 18rem;
}
.bukpem p{
  margin-left: 15px;
}
.atasan{
  display: flex;
}
.bukpem button{
  width: 50%;
  height: 60px;
  font-size: 19px;
  font-weight: 700;
  border-radius: 9px;
  margin-left: 13px;
  border: 0;
  background-color: var(--primarycolor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.bukpem button:hover{
  background-color: var(--titarycolor);
  color: #fff;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  width: 40%;
  height: 60px;
  font-size: 19px;
  font-weight: 700;
  border-radius: 9px;
  margin-left: 0px;
  border: 0;
  background-color: var(--primarycolor);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.custom-file-upload:hover{
  background-color: var(--titarycolor);
  color: #fff;
  cursor: pointer;
}
.dato{
  margin-left: -9rem;
}
#months_input{
  width: 80px;
  font-size: 20px;
}
#months_input2{
  width: 80px;
  font-size: 20px;
}
.custom-alert {
  display: none;
  position: fixed;
  top: 6px;
  left: 35rem;
  border-radius: 15px;
  width: 16%;
  padding: 15px;
  background-color: #f44336;
  color: white;
  font-size: 18px;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  transition:opacity 9s ease-in-out;
          
}